/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 0px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 20;

  opacity: 1;

}
.container{
  width: auto;
  height: auto;
  color: #5a5a5a;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 0px;
  padding-left: 0px;
}
.navbar-wrapper .navbar .container {
  width:inherit;

}
text


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;

}


/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 80%;
  min-width: 100%;
  height: 500px;
}
.carousel-inner > .item > .container {
    font-family: cursive;
}

.col-lg-4{
  margin-top: 50px;
}
.col-lg-3{
  margin-top: 50px;
}
#spacer{
  margin-top: auto;;
  height: 50px;

}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing  {
  margin-top:auto;
  text-align: center;

  image-resolution: snap;

}

#Timage{
  padding-top: 50px;
}

/*Stu coord anf faculty coord*/
.stu-coord{
  padding-left: 30px;
  padding-right: 10px;
}
.stu-coord .panel{
  height:310px;
  width: 250px;
}
.stu-coord .col-lg-3 .panel {
  display: inline-block;
}
.stu-coord .profile_image img{
  height: 200px;
  width: 200px;
  padding-bottom: 15px;
  vertical-align: middle;
}
.stu-coord .info h2{
  font-style: normal;
  font-weight: bold;
  font-size:18px;
  margin-top: -5px
}
.stu-coord strong{
  font-size: 20px;
}

.stu-coord .table{
  padding-bottom:  50px;
}


/*On board computer title*/
.obc{
  padding-bottom: 50px;
  padding-left: 60px;
}
.obc h2{
  text-align: left;
  font-family: cursive;
  font-size: 40px;
  font-weight: bold;
}

/*EPS Title*/
.eps{
  padding-bottom: 50px;
  padding-left: 60px;
}
.eps h2{
  text-align: left;
  font-family: cursive;
  font-weight: bold;
}
/*adcs Title*/
.adcs{
  padding-bottom: 50px;
  padding-left: 60px;
}
.adcs h2{
  text-align: left;
  font-family: cursive;
  font-weight: bold;
}
/*mech Title*/
.mech{
  padding-bottom: 50px;
  padding-left: 60px;
}
.mech h2{
  text-align: left;
  font-family: cursive;
  font-weight: bold;
}

/*tele Title*/
.tele{
  padding-bottom: 50px;
  padding-left: 60px;
}
.tele h2{
  text-align: left;
  font-family: cursive;
  font-weight: bold;
}
/* Payload Title*/
.payload{
  padding-bottom: 50px;
  padding-left: 60px;
}
.payload h2{
  text-align: left;
  font-family: cursive;
  font-weight: bold;
}




/*properties of team leads*/
.team-leads{
  padding-left: 100px;
  padding-right: 100px;
}
.team-leads .panel{
  height:290px;
  width: 250px;
}

.team-leads .col-lg-6 .panel {
  display: inline-block;
}
.team-leads strong{
  font-size: 18px;
}
.team-leads .profile_image img{
  height: 180px;
  width: 180px;
  padding-bottom: 15px;
  vertical-align: middle;
}
.team-leads .info h2{
  font-size:17px;
  margin-top: -5px
}

.team-leads .table{
  padding-bottom:  50px;
}
.team-leads{
  margin-left:60px;
}

/* properties of team members*/
.team-members{
  padding-left: 50px;
  padding-right: 50px;
}
.team-members .panel{
  height:250px;
  width: 200px;
}
.team-members .col-lg-4 .panel {
  display: inline-block;
}
.team-members .profile_image img{
  height: 150px;
  width: 150px;
  padding-bottom: 15px;
  vertical-align: middle;
}
.team-members strong{
  font-size: 17px;
}
.team-members .info h2{
  font-size:16px;
  margin-top: -5px
}

.team-members .table{
  padding-bottom:  50px;
}

/* Featurettes
------------------------- */
.row{
  margin-left: 50px;
}
.featurette-divider {
  margin: 80px ; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0;
}
.dropdown-menu{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 0px;
  }
  .navbar-wrapper .container {
    padding-right:5px;
    padding-left: 5px;

  }

  .navbar-wrapper .navbar  {
    padding-right: 0;
    padding-left: 0;

  }
  .navbar-brand{
    margin-right: 10px;

  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 60px;
  }
  .featurette-image{
    margin-top: 70px
  }
  .col-md-5{
    padding-top: 50px;
  }
}
#Iimage{      /* index image adjustment*/
  margin-left: 0px;
}
#image_marketing /*to adjust image on index page*/
{
  margin-top: -10px;
  margin-left: -15px;
  padding-right: 0px;
}
#sponsorbody{
  background-image: url("sponsorUs.jpg");
  background-size: 150% 150%;
}
