body {
  padding-bottom: 0px;
  background-color: white;
  background-image: url("team_cover_3.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

#subsysbody {
  padding-bottom: 0px;
  background-color: white;
  background-image: url("subback1.jpg");

  background-repeat: no-repeat;
  background-size: 100% 160%;
  background-attachment: fixed;
}
